
@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
    font-family:"Montserrat";
    src: url(/assets/fonts/montsrat/Montserrat-Light.ttf);
    font-weight: 300;
}


@font-face {
    font-family:"Montserrat";
    src: url(/assets/fonts/montsrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:"Montserrat";
    src: url(/assets/fonts/montsrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family:"Montserrat";
    src: url(/assets/fonts/montsrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
/* @font-face {
    font-family:"lato";
    src: url(/assets/fonts/Lato-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family:"lato";
    src: url(/assets/fonts/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family:"lato";
    src: url(/assets/fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:"lato";
    src: url(/assets/fonts/Lato-Bold.ttf);
    font-weight: 700;
} */

body{
    /* font-family: "lato"; */
    font-family: "Montserrat";
    overflow-x: hidden;
    color: #282828;
}



@layer components {
    .mainHeading {
      @apply text-[22px] leading-[32px] tracking-[1px] md:text-[2.70833333333vw] md:leading-[3.64583333333vw] md:tracking-[0.13020833333vw] md:mt-[1.04166666667vw]
      mt-[18px] uppercase text-[#FFFFFF];
    }
    .heading {
      @apply text-[20px] leading-[30px]  md:text-[2.34375vw] md:leading-[2.86458333333vw]  md:tracking-[0.10416666666vw] uppercase font-[500];
    }

    .aboutCardHeading{
        @apply text-[18px] leading-[25px] md:text-[2.08333333333vw] md:leading-[2.70833333333vw] tracking-[0.10416666666vw] text-[#FFFFFF] font-[700]
        top-[50%] left-[50%] text-center z-[2] transform translate-x-[-50%] translate-y-[-50%]
    }

    .paragraph {
      @apply text-[14px] leading-[20px] md:text-[1.04166666667vw] md:leading-[1.5625vw]  tracking-[0.0625vw];
    }
    .myContainer{
      @apply w-[88vw] md:w-[84vw] mx-[auto] ;
    }
.tagLine{
    @apply 
    font-[500] md:text-[0.98958333333vw] md:leading-[1.30208333333vw]
border-b border-red md:pb-[0.78125vw] inline-block pb-[5px] uppercase text-[14px]
text-[#FFFFFF]
}
  }

  
  .heightScroll::-webkit-scrollbar{
display: none;
  }

  .headerDropdownBtn::before{
    content: '';
    position: absolute;
    width: 140%;
    left: -20;
    height: 100%;
    top: 80%;
    background-color: transparent;
  }
  .headerDropdownBtn:hover .headerDropdown{
  opacity: 1;
  top: 115%;
  pointer-events: initial;
}

.headerDropdownBtn ul li:hover a{
  color: #d30d2b;
}

.dropdownShadow{
   box-shadow:0 2px 4px rgba(0,0,0,0.3)
}

  /* HAMBURGER  */

.container {
    width: 10%;
    height: 12vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    width: 100%;
    margin: 8px;
    background: transparent;
    border-radius: 5px;
  }
  
  .menu div {
    position: relative;
  
  }
  
  
  
  .menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: #d30d2b ;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  
  
  
  
  .li2ne {
    opacity: 0;
  
  }
  
  
  
  
  .l1ine {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
    background: #FFFFFF !important;
  
  }
  
  
  
  .lin3e {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
    background: #FFFFFF !important;
  
  }

  
  .sideBar.active{
    opacity: 1 !important;
    pointer-events: initial !important;
  }

  #scrollTop{
    background-color: #a21010;
    border-radius: 50%;
    
  }
  #scrollTop img{
    width: 100%;
  }

  .supporting .swiper-wrapper{
    align-items: center!important;
  }
  .slide1{
    width: 12vw!important;
    height: 12vw!important;
  }
  .slide2{
    width: 18vw!important;
    height: 12vw!important;
  }
  .slide3{
    width: 10vw!important;
    height: 13vw!important;
  }
  .slide4{
    width: 16vw!important;
    height: 6vw!important;
  }
  .slide5{
    width: 10vw!important;
    height: 10vw!important;
  }
  .slide6{
    width: 15vw!important;
    height: 12vw!important;
  }
  .slide7{
    width: 10vw!important;
    height: 13vw!important;
  }
  .slide8{
    width: 10vw!important;
    height: 11vw!important;
  }
  .slide9{
    width: 16vw!important;
    height: 6vw!important;
  }
  .slide10{
    width: 12vw!important;
    height: 14vw!important;
  }

  @media (max-width:768px){
    .slide1{
      width: 120px!important;
      height: 120px!important;
    }
    .slide2{
      width: 160px!important;
      height: 100px!important;
    }
    .slide3{
      width: 100px!important;
      height: 130px!important;
    }
    .slide4{
      width: 160px!important;
      height: 60px!important;
    }
    .slide5{
      width: 80px!important;
      height: 80px!important;
    }
    .slide6{
      width: 150px!important;
      height: 120px!important;
    }
    .slide7{
      width: 100px!important;
      height: 120px!important;
    }
    .slide8{
      width: 100px!important;
      height: 110px!important;
    }
    .slide9{
      width: 160px!important;
      height: 60px!important;
    }
    .slide10{
      width: 120px!important;
      height: 140px!important;
    }
  }